<strong>Hello, {{ provider }}.</strong>

<p>There was a appointment cancellation, check the schedule below.</p>

<p>
  <strong>Client:</strong> {{ user }}
  <br>
  <strong>Date:</strong> {{ date }}
  <br>
  <br>
  <em>This schedule is now available for new appointments.</em>
</p>

